* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 2rem;
    width: 20rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unitsBox input {
    display: none;
}

.buttonBox {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: .5rem auto;
}

.unitsBox {
    background-color: #221bff;
    color: white;
    padding: .4rem 0;
    font-size: 1.1rem;

}

.unitsBox .selectedLabel {
    color: white;
}

.unitsBox .notSelectedLabel {
    color: rgba(255, 255, 255, 0.5);
}

.unitsBox .notSelectedLabel:hover {
    color: rgba(255, 255, 255, 0.8);
}

.inputbox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: .5rem auto;
}

.inputbox div {
    width: 75%;
    position: relative;
}

.inputbox div input {
    width: 100%;
}

.inputbox div span {
    position: absolute;
    left: 11.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.container p {
    width: 85%;
    margin: .5rem;
}

.inputbox .usBox {
    display: flex;
    justify-content: space-between;
}

.inputbox .usBox input {
    width: 49%;
}

.inputbox .usBox #ftSpan {
    left: 5rem;
}